html {
  scroll-behavior: smooth;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


h1 {
  color: #e9f5f5;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #e9f5f5;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: rgb(1, 124, 181);
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #c3e1e1 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #8bcbdc;
}

.top-container {
  background-image:linear-gradient(rgb(37, 64, 172), rgb(237, 252, 255));
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 75px 0;
}

.middle-container h2 {
  color: rgb(1, 124, 181);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.bottom-container {
  background-image:linear-gradient(rgb(20, 41, 126), rgb(237, 252, 255));
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  font-weight: bold;
  color: rgb(73, 73, 218);
}

.intro {
  width: 30%;
  margin: auto;
  padding-bottom: 5rem;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 25%;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 27%;
  bottom: 300px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.imagepro {
  height: 150px;
  width: 150px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, rgb(20, 41, 126), rgb(54, 212, 243));
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,rgb(20, 41, 126), rgb(54, 212, 243), rgb(20, 41, 126));
  text-decoration: none;
  color:white;
}

/* Nav Bar */
#hamnav {
  width: 250px;
  position: fixed;
  left: 2%;
  top: 2%;
  z-index: 1;
  text-align: left;
  user-select: none;
}

#hamitems a {
  width: 100%;
  padding: 5px;
  color: rgb(1, 124, 181);
  text-decoration: none;
  text-align: center;
  border: 1px solid rgb(1, 124, 181);
}

#hamitems a:hover {
  background: linear-gradient(to bottom,rgb(20, 41, 126), rgb(54, 212, 243), rgb(20, 41, 126));
  text-decoration: none;
  color: white;
  border: none;
}

/* Show Hamburger Icon */
#hamnav label { 
  color: rgb(190, 224, 225);
  border-radius: 30%;
  font-size: 2em;
  padding: 0 0.5em 0 0.5em;
  font-weight: bold;
}

/* Break down menu items into vertical */
#hamitems a {
  box-sizing: border-box;
  border-radius: 20px;
  display: block;
  width: 100%;
  background-color: white;
}

/* Toggle Show/Hide Menu */
#hamitems {
   display: none; 
  }

#hamnav input:checked ~ #hamitems { 
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
}

#hamburger {
  display: none;
}


/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /*  Hide Hamburger Icon */
 
  #hamnav {
    display: none;
  }

  .intro {
    width: 70%;
    margin: auto;
    padding-bottom: 5rem;
  }

  .contact-message {
    width: 70%;
    margin: 40px auto 60px;
  }

  .skill-row {
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
}


